{% block content %}

<div class="container">
  <div class="login_form row">
    <form action="{% url 'login' %}" method="post" class="login-form" id="login-form">
      {% csrf_token %}
      <h1>Please Sign In</h1>

      <div class="form-row">
        {{ form.username.label_tag }}<br />
        {{ form.username|attr:"class:login-control" }}
        {{ form.username.errors }}
      </div>

      <div class="form-row">
        {{ form.password.label_tag }}<br />
        {{ form.password }}
        {{ form.password.errors }}
        <input type="hidden" name="next" value="{% url 'user_redirect' %}" />
      </div>

      <div class="submit-row">
        <br /><button type="submit" value="submit" class="btn btn-default">Log in</button>
      </div>

      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          <p class="errornote">
            <br />{{ error }}
          </p>
        {% endfor %}
      {% endif %}
      <br /><p class="message">Not registered? <a href="{% url 'register' %}">Create an account</a></p>
      <br /><p class="message"><a href="{% url 'home' %}">Back to home </a></p>
    </form>
  </div>
</div>
{% endblock %}
