{% extends "base.html" %}
{% load i18n %}
{% block content %}
<!-- This is the template for the homepage which include register and login, wired to /home/ url -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <header>
    Not a user?<br>
    <!-- <div align="right"> -->
    <!-- <a href="/accounts/login">login</a>
    <a href="/accounts/logout">logout</a> -->
    <a href="/accounts/register">register</a>
  </div>
    </header>
  </body>
</html>
{% endblock content %}
