{% extends "base.html" %}
{% load i18n %}
{% block content %}
<!-- This is the template for the homepage which include register and login, wired to /home/ url -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <header>
    <h3>Login</h3>
    Click <a href="/accounts/login">here</a> to log in

    <h3>Not a user?</h3>
    <!-- <div align="right"> -->
    <!-- <a href="/accounts/login">login</a>
    <a href="/accounts/logout">logout</a> -->
    <a href="/accounts/register">Register here!</a>
  </div>
    </header>
  </body>
</html>
{% endblock content %}
