{% extends "base.html" %}
{% load i18n %}
{% block content %}
<!-- This is the template for profile and listing all created classifiers, wired to /profile/ url -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <div align="right">
      <a href="/accounts/logout">logout</a>
    </div>
  </head>
  <body>
    <h2>{{username}}'s profile</h2>
    <h3>Created Classifiers</h3>
      <ul>
        {% if classifier %}
          {% for item in classifier %}
            {{item.name}}: {{item.category}}<br>
          {% endfor %}
        {% endif %}
      </ul>

  </body>
</html>

{% endblock content %}
